.input-error {
    margin-top: 5px;
    line-height: 14px;
    color: red;
    font-family: "RobotoRegular";
    display: block;
}

.input-error-edit {
    margin-top: 25px;
    color: red;
    line-height: 14px;
    font-family: "RobotoRegular";
    display: block;
    text-align: center;
}
