.auth-background {
    background-color: rgba(63, 81, 181, 0.3);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    position: relative;
    color: #221e1f;
    width: 400px;
    box-shadow: 0px 8px 16px rgba(48, 49, 51, 0.16);
    border-radius: 6px;
    background: #fff;
    padding: 36px 40px;
    &-title {
        font-family: "RobotoBold";
        font-size: 36px;
    }
    &-input {
        width: 100%;
        padding-top: 20px;
        > div {
            width: 100%;
            > div {
                width: 100%;
            }
        }
    }
    &-btn {
        margin-top: 20px;
        width: 100%;
        height: 50px;
        font-family: "RobotoMedium";
        font-size: 20px;
        background-color: #3f51b5;
        border-radius: 6px;
        border: none;
        color: #fff;
        cursor: pointer;
        transition: all 0.5s;
    }
    &-btn:hover {
        color: #3f51b5;
        background-color: #fff;
        border: 1.5px solid #3f51b5;
    }
    &-login {
        display: flex;
        align-items: center;
        margin-top: 20px;
        font-size: 16px;
        &-text {
            font-family: "RobotoRegular";
        }
        &-link {
            font-family: "RobotoMedium";
            color: #3f51b5;
            margin-left: 7px;
        }
    }
}

.auth-recovery {
    margin-top: 7px;
    display: block;
    font-family: "RobotoMedium";
    color: #3f51b5;
}
