.Toastify {
    &__toast {
        border-radius: 8px !important;
        &-container {
            z-index: 140 !important;
        }
        &-body {
            font-family: "RobotoMedium";
            font-weight: 550;
            font-size: 16px;
            color: #221e1f;
        }
    }
    &__progress-bar {
        background: #3f51b5 !important;
    }
}

.main-error {
    margin-top: 30px;
    text-align: center;
    color: red;
    font-family: "RobotoRegular";
    display: block;
}
