@font-face {
    font-family: "RobotoRegular";
    src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "RobotoBold";
    src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}

@import "./reset";
@import "./base.scss";