.message-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 10px;

    .message {
        padding: 8px 17px;
        border-radius: 15px;
        background-color: #5b5f6a;
        max-width: 300px;
    }
    .own-message {
        padding: 8px 17px;
        border-radius: 15px;
        background-color: #3f51b5;
    }
    .message-author {
        color: #fff;
        font-family: "RobotoBold";
        font-size: 12px;
        margin-bottom: 5px;
    }
    .message-text {
        color: #fff;
        font-family: "RobotoRegular";
        font-size: 16px;
    }
}
.right {
    justify-content: flex-end;
}
